{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "AllowedHosts": "*",

    "JwtSettings": {
        "Note": "JWT can be supplied by environment variables: JWT_SECRET, JWT_ISSUER, JWT_AUDIENCE, JWT_EXPIRY_IN_DAYS"
    },
    "EmailSettings": {
        "Note": "Email settings are read from environment variables. See commands below:"
    }
}
