{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "AllowedHosts": "*",

    "JwtSettings": {
        "Secret": "tu-clave-secreta-muy-larga-minimo-32-caracteres",
        "ExpiryInDays": 7,
        "Issuer": "GastappAPI",
        "Audience": "GastappClient"
    },
    "EmailSettings": {
        "Note": "Email settings are read from environment variables. See commands below:"
    }
}
